<div id="wrap">
<h2 class="title">Welcome to TANC</h2>
<%= form_tag do %>
  <%= text_field_tag 'email', @email, :placeholder => 'Email' %>
  <%= password_field_tag 'password', nil, :placeholder => 'Password' %>
  <%= password_field_tag 'confirm-password', nil, :placeholder => 'Confirm Password' %>
  <p>
    <%= radio_button_tag 'membership', 'member' %>
    <%= label_tag 'member', 'Member' %>
  </p>
  <p>
    <%= radio_button_tag 'membership', 'non-member' %>
    <%= label_tag 'non-member', 'Non Member' %>
  </p>
  <%= submit_tag 'Continue' %>
  <% end %>
</div>


