<div id="wrap">
<h2 class="title">Welcome to TANC</h2>
<%= form_tag do %>
  <%= text_field_tag 'first-name', nil, :placeholder => 'First Name' %>
  <%= text_field_tag 'last-name', nil, :placeholder => 'Last Name' %>
  <p>
    <%= radio_button_tag 'gender', 'male' %>
    <%= label_tag 'male', 'Male' %>
  </p>
  <p>
    <%= radio_button_tag 'gender', 'female' %>
    <%= label_tag 'female', 'Female' %>
  </p>
  <%= text_field_tag 'age', nil, :placeholder => 'Age' %>
  <%= text_field_tag 'address-line-1', nil, :placeholder => 'Address Line 1' %>
  <%= text_field_tag 'address-line-2', nil, :placeholder => 'Address Line 2' %>
  <%= text_field_tag 'city', nil, :placeholder => 'City' %>
  <%= text_field_tag 'state', nil, :placeholder => 'State' %>
  <%= text_field_tag 'Zip', nil, :placeholder => 'Zip' %>
  <%= text_field_tag 'telephone', nil, :placeholder => 'Telephone' %>
  <%= submit_tag 'Continue' %>
  <% end %>
</div>


