<div id="wrap">
<h2 class="title">Welcome to TANC</h2>
<%= form_tag do %>
  <%= text_field_tag 'email', @email, :placeholder => 'Email', :disabled => true %>
  <%= password_field_tag 'password', nil, :placeholder => 'Password' %>
  <%= password_field_tag 'confirm-password', nil, :placeholder => 'Confirm Password' %>
  <p> Who are you? </p>
  <p>
    <%= radio_button_tag 'membership', 'tibetan' , :selected => true %>
    <%= label_tag 'tibetan', 'Tibetan' %>
  </p>
  <p>
<<<<<<< HEAD
    <%= radio_button_tag 'membership', 'spouseoftibetan' %>
=======
    <%= radio_button_tag 'membership', 'spouseoftibetan' , :selected => true %>
>>>>>>> 3b24e77f95ec0c459f45aef9d1abe74e8765607f
    <%= label_tag 'spouseoftibetan', 'Spouse of Tibetan' %>
  </p>
  <p>
    <%= radio_button_tag 'membership', 'non-member' %>
    <%= label_tag 'non-member', 'Friend of TANC' %>
  </p>
  <%= submit_tag 'Continue' %>
  <% end %>
</div>


