<h3>Welcome Admin!</h3>

<div class = "logout">
  <% @destroy = false %>
  <%= link_to "LOGOUT", :controller=>"member", :class => "delete" %>
</div>
<div id = "add_new_member">
  <%= link_to('Add a new member', '/member/signup') %><br>
  <%= link_to('Export CSV file', '/member/admin/export') %><br>
</div>
<table class ="filter_table"">
  <tr>
    <td>Show full table</td>
    <td><%= check_box_tag "show_all_check_box" %></span></td>
    <td><%= button_tag "Refresh" %></td>
  </tr>
</table>
<table class ="filter_table">
  <tr>
    <td>Show Only: </td>
    <td><%= check_box_tag "show_only_members" %></td>
    <td>Members</td>
    <td><%= check_box_tag "show_only_non_members" %></td>
    <td>Non Members</td>
    <td><%= button_tag "Refresh" %></td>
  </tr>
</table>
<table id="list_of_people">
  <thead id="head">
    <tr>
      <th>ID #</th>
      <th>Name</th>
      <th>Membership Type</th>
      <th>Email</th>
      <th>Telephone</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Gender</th>
      <th>Birth Year</th>
      <th>Birth Country</th>
      <th>Occupation</th>
      <th>Number of Children</th>
      <th>Payment Method</th>
      <th>Status</th>
      <th>More</th>
     </tr>
   </thead>
   <tbody>
     <% @member = Member.all %>
     <% @member.each do |member| %>
       <tr>
         <td><%= member.id rescue nil%></td>
         <td><%= member.first + ' ' + member.last rescue nil%></td>
         <td><%= member.member_type rescue nil%></td>
         <td><%= member.email rescue nil%></td>
         <td><% if member.telephone == nil %>
               <%= "N/A" %>
             <% else %>
               <%= member.telephone %>
             <% end %></td>
         <td><% if member.address1 == nil %> 
               <%= "N/A" %>
             <% else %>
               <%= member.address1 %>, 
               <%= " " %>
               <%= member.address2 rescue nil%>
             <% end %></td>
         <td><% if member.city == nil %>
               <%= "N/A" %>
             <% else %>
               <%= member.city %>
             <% end %></td>
         <td><% if member.state == nil %>
               <%= "N/A" %>
             <% else %>
               <%= member.state %>
             <% end %></td>
         <td><% if member.zip == nil %>
               <%= "N/A" %>
             <% else %>
               <%= member.zip %>
             <% end %></td>
         <td><% if member.gender == nil %>
               <%= "N/A" %>
             <% else %>
               <%= member.gender %>
             <% end %></td>
         <td><% if member.year_of_birth == nil %>
               <%= "N/A" %>
             <% else %>
               <%= member.year_of_birth %>
             <% end %></td>
         <td><% if member.country_of_birth == "" or member.country_of_birth == nil %>
               <%= "N/A" %>
             <% else %>
               <%= member.country_of_birth %>
             <% end %></td>
         <td><% if member.occupation == nil %>
               <%= "N/A" %>
             <% else %>
               <%= member.occupation %>
             <% end %></td>
         <td><% if member.number_of_children == nil %>
               <%= "N/A" %>
             <% else %>
               <%= member.number_of_children %>
             <% end %></td>
         <td></td>
         <% if member.admin == true %>
           <td><%= "ADMIN" %></td>
         <% elsif member.status == "Pending" %>
           <td style ="background: yellow;"><%= member.status rescue nil %></td>
         <% elsif member.status == "Active" %>
           <td style ="background: green;"><%= member.status rescue nil %></td>
         <% elsif member.status == "Expired" %>
           <td style ="background: red;"><%= member.status rescue nil %></td>
         <% end %>


	 <% if member.admin == true %>
           <td></td>
         <% else %> 
           <td><%= link_to "Detail", member_path(member) %></td>
         <% end %>
       </tr>
    <% end %> 
  </tbody>
</table>


