<h3>Welcome Admin!</h3>

<div class = "logout" id ="admin_logout">
  <%= link_to('LOGOUT', '/member') %>
</div>
<div id = "add_new_member">
  <%= link_to('Add a new member', '/member/signup') %><br>
</div>
<table id="show_all">
  <tr>
    <td>Show full table</td>
    <td><%= check_box_tag "show_all_check_box" %></span></td>
    <td><%= button_tag "Refresh" %></td>
  </tr>
</table>
<table>
  <thead id="head">
    <tr>
      <td>ID #</td>
      <td>Name</td>
      <td>Who Are You?</td>
      <td>Email</td>
      <td>Telephone</td>
      <td>Address</td>
      <td>City</td>
      <td>State</td>
      <td>Zip</td>
      <td>Gender</td>
      <td>Birth Year</td>
      <td>Birth Country</td>
      <td>Occupation</td>
      
     </tr>
   </thead>
  <tbody>
    <% Member.all.each do |member| %>
      <tr>
        <td><%= member[:id] rescue nil%></td>
        <td><%= member[:first] + ' ' + member[:last] rescue nil%></td>
        <td><%= member[:member_type] rescue nil%></td>
	<td><%= member[:email] rescue nil%></td>
        <td><%= member[:telephone] rescue nil%></td>
	<td><%= member[:address1] + ' ' + member[:address2] rescue nil%></td>
        <td><%= member[:city] rescue nil%></td>
        <td><%= member[:state] rescue nil%></td>
        <td><%= member[:zip] rescue nil%></td>
        <td><%= member[:gender] rescue nil%></td>
        <td><%= member[:year_of_birth] rescue nil%></td>
        <td><%= member[:country_of_birth] rescue nil%></td>
        <td><%= member[:occupation] rescue nil%></td>
       </tr>
    <% end %>
  </tbody>

</table>
