<h3>Welcome Admin!</h3>

<div class = "logout">
  <%= link_to "LOGOUT", :controller=>"member", :action => "destroy" %>
</div>
<div id = "add_new_member">
  <%= link_to('Add a new member', '/member/add_new_member') %><br>
  <%= link_to('Export CSV file', '/member/admin/export') %><br>
</div>
<table id="show_all">
  <tr>
    <td>Show full table</td>
    <td><%= check_box_tag "show_all_check_box" %></span></td>
    <td><%= button_tag "Refresh" %></td>
  </tr>
</table>
<table id="list_of_people">
  <thead id="head">
    <tr>
      <th>ID #</th>
      <th>Full Name</th>
      <th>Who Are You?</th>
      <th>Email</th>
      <th>Telephone</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Gender</th>
      <th>Birth Year</th>
      <th>Birth Country</th>
      <th>Occupation</th>
      <th>Payment Method</th>
      <th>Status</th>
     </tr>
   </thead>
  <tbody>
     
    <% Member.all.each do |member| %>
      <tr>
        <td><%= member[:id] rescue nil%></td>
        <td><%= member[:first] + ' ' + member[:last] rescue nil%></td>
        <td><%= member[:member_type] rescue nil%></td>
        <td><%= member[:email] rescue nil%></td>
        <td><% if member[:telephone] == nil %>
              <%= "N/A" %>
            <% else %>
              <%= member[:telephone] %>
            <% end %></td>
        <td><% if member[:address1] == nil and member[:address2] == nil %>
              <%= "N/A" %>
            <% else %>
              <%= member[:address1] + ' ' + member[:address2] rescue nil%>
            <% end %></td>
        <td><% if member[:city] == nil %>
              <%= "N/A" %>
            <% else %>
              <%= member[:city] %>
            <% end %></td>
        <td><% if member[:state] == nil %>
              <%= "N/A" %>
            <% else %>
              <%= member[:state] %>
            <% end %></td>
        <td><% if member[:zip] == nil %>
              <%= "N/A" %>
            <% else %>
              <%= member[:zip] %>
            <% end %></td>
        <td><% if member[:gender] == nil %>
              <%= "N/A" %>
            <% else %>
              <%= member[:gender] %>
            <% end %></td>
        <td><% if member[:year_of_birth] == nil %>
              <%= "N/A" %>
            <% else %>
              <%= member[:year_of_birth] %>
            <% end %></td>
        <td><% if member[:country_of_birth] == nil %>
              <%= "N/A" %>
            <% else %>
              <%= member[:country_of_birth] %>
            <% end %></td>
        <td><% if member[:occupation] == nil %>
              <%= "N/A" %>
            <% else %>
              <%= member[:occupation] %>
            <% end %></td>
        <td></td>
        <td><%= member[:status] rescue nil%></td>
       </tr>
    <% end %>
    
  </tbody>
</table>
<%= form_tag do %>
  Please select which member you want to delete
  <%= select_tag 'delete_member', "<option>0</option><option>2</option><option>3</option><option>4</option><option>5</option>".html_safe %>
  <%= submit_tag 'Delete' %>
<% end %>
<%= form_tag do %>
  Please select which member you want to edit
  <%= select_tag 'edit_member', "<option>0</option><option>2</option><option>3</option><option>4</option><option>5</option>".html_safe %>
  <%= submit_tag 'Edit' %>
<% end %>
