<div id="wrap">
<h2 class="title">Please Edit the following information</h2>
<p style="text-align: center; font-size: 10px; color: #600;"> <em>* All the fields are required except where it says optional</em> </p>
<%= form_tag do %>
  <%= text_field_tag 'first-name', @first, :placeholder => 'First Name' %>
  <%= text_field_tag 'last-name', @last, :placeholder => 'Last Name' %>
  <%= label_tag 'already_a_member', 'Already a Member? ' %>
  <%= select_tag 'already_a_member',  options_for_select(["Yes", "No"], @already_a_member.to_s) %>   
  <%= text_field_tag 'year_of_birth', @year_of_birth, :placeholder => 'Year of Birth' %>
  <p>
    <%= label_tag 'gender', 'Gender' %> 
    <%= select_tag 'gender', options_for_select(["Male", "Female"], @gender.to_s) %>
  </p>

  <%= text_field_tag 'country_of_birth', @country_of_birth, :placeholder => 'Country of Birth (Optional)' %>
  <%= label_tag 'occupation', 'Your occupation: ' %>
  <%= select_tag 'occupation', options_for_select(["Student", "Medical Profession", "Business Owner", "Finance and Banking", "Others"], @occupation.to_s) %>
  <%= text_field_tag 'special_skills', @special_skills, :placeholder => 'Special skills (Optional)' %>
  <%= label_tag 'number_of_children', 'Number Of Children: ' %>
  <%= select_tag 'number_of_children', options_for_select(["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10"], @number_of_children.to_s) %>
  <%= text_field_tag 'address-line-1', @address1, :placeholder => 'Address Line 1' %>
  <%= text_field_tag 'address-line-2', @address2, :placeholder => 'Address Line 2 (Optional)' %>
  <%= text_field_tag 'city', @city, :placeholder => 'City' %>
  <%= text_field_tag 'state', @state, :placeholder => 'State' %>
  <%= text_field_tag 'zip', @zip, :placeholder => 'Zip' %>
  <%= text_field_tag 'telephone', @telephone, :placeholder => 'Telephone' %> 
  <%= recaptcha_tags %>
  <%= submit_tag 'Continue' %>
  <%= link_to('Back to log in page', '/member/') %> 
  <% end %>
</div>
