<% # edit.html.erb using partial %>

<h2> You are now editing <%= @member.first %>' info </h2>

<%= form_tag member_path(@member), :method => :put do %>

  <%= label :member, :status, 'Status' %>
  <%=  select :member, :status, "<option>Pending</option><option>Active</option><option>Expired</option>" %>
  <br>
  <br>
  <%= label :member, :member_type, 'Membership type' %>
  <%=  select :member, :member_type, "<option>Tibetan</option><option>Spouse of Tibetan</option><option>Friend of TANC</option>" %>
  <br>
  <br>

  <%=  text_field :member, 'first', :placeholder => 'First Name' %>
  <%=  text_field :member, 'last', :placeholder => 'Last Name' %>
  <%=  text_field :member, 'telephone', :placeholder => 'Telephone' %>
  <%=  text_field :member, 'address1', :placeholder => 'Address Line 1 (Street)' %>
  <%=  text_field :member, 'address2', :placeholder => 'Address Line 2 (Apt/Suite)' %>
  <%=  text_field :member, 'city', :placeholder => 'City' %>
  <%=  text_field :member, 'state', :placeholder => 'State' %>
  <%=  text_field :member, 'zip', :placeholder => 'Zip' %>
  <%= label :member, :gender, 'Gender' %>
  <%=  select :member, :gender, "<option>Male</option><option>Female</option>" %><br><br>
  <%=  text_field :member, 'year_of_birth', :placeholder => 'Birth Year' %>
  <%=  text_field :member, 'country_of_birth', :placeholder => 'Country of Birth' %>
  <%= label :member, :number_of_children, 'Number of Children' %>
  <%= select :member, :number_of_children, "<option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>" %><br><br>
  <%= label :member, :occupation, 'Occupation' %>
  <%= select :member, :occupation, "<option>Student</option><option>Medical Profession</option><option>Business Owner</option><option>Finance and Banking</option><option>Others</option>" %>  <br><br>
  <%= submit_tag 'Update Info' %>
<% end %>


