<% # edit.html.erb using partial %>

<h2> You are now editing <%= @member.first %>' info </h2>

<%= form_tag member_path(@member), :method => :put do %>

  <%=  text_field :member, 'first', :placeholder => 'First Name' %>

  <%=  text_field :member, 'last', :placeholder => 'Last Name' %>

  <%= label :member, :status, 'Status' %>
  <%=  select :member, :status, "<option>Pending</option><option>Active</option><option>Expried</option>" %>
  <br>
  <br>
  
  <%=  text_field :member, 'city', :placeholder => 'City' %>
  
  <%= submit_tag 'Update Info' %>
<% end %>


